<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gull Project - Nuevo Atributo</title>
</head>
<body>

<h1>Nuevo Atributo</h1>

	<form method="POST" th:object="${atributo}">
	
		<div th:if="${#fields.hasErrors()}">
     	   <span class="validationError">
      	  Please correct the problems below and resubmit.
     	   </span>
    	</div>
    	
    	<span class="validationError"
      	th:if="${#fields.hasErrors('name')}"
      	th:errors="*{name}">Selecciona un nombre para el material</span>
      
		<div class="grid">
		
			<div class="material-group" id="name">
				<h3>Nombra tu material:</h3>
					<input name="materials" type="text"
						th:field="*{name}"/>
			</div>
		</div>

		<div>

			<button>Ok</button>
		</div>
		
	</form>

</body>
</html>