<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Editar Atributo</title>
</head>
<body>

<h1>Editar Atributo</h1>

	<form th:method="PUT" th:object="${atributo}" id="atributoform" th:action="@{'/atributos/actualizar/id/' + ${atributo.id}}">
	
		<div th:if="${#fields.hasErrors()}">
     	   <span class="validationError">
      	  Corrige los errores y reenvía.
     	   </span>
    	</div>
    	
    	<span class="validationError"
      	th:if="${#fields.hasErrors('name')}"
      	th:errors="*{name}">Selecciona un nombre</span>
      	
      	<span class="validationError"
      	th:if="${#fields.hasErrors('tipo')}"
      	th:errors="*{tipo}">Selecciona un tipo de atributo</span>
      
		<div class="grid">
			<div class="define-group" id="name">
				<h3>Nombre:</h3>
					<input name="name" type="text"
						th:field="*{name}" th:value="*{name}"/>
			</div>
			
			<div class="define-group" id="tipo">
				<h3>Tipo:</h3>
					<select name="tipo" id="tipo" form="atributoform">
						<option th:each="t : ${tipos}" th:value="${t}" th:text="${t}" th:selected="${t} == *{tipo}"></option>
					</select>
			</div>
		</div>

		<div>
			<p>
				<button>Ok</button>
			</p>
		</div>
		
		<div>
			<p>
				<a th:href="@{'/atributos/borrar/id/' + ${atributo.id}}">Borrar atributo</a>
			</p>
			<p>
				<a th:href="@{/atributos/todos}">Volver a todos los atributos</a>
			</p>
		</div>
		
	</form>

</body>
</html>