<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Todos Los Atributos</title>
</head>
<body>

<h1>Todos Los Atributos</h1>

	<div>
		<div th:each="a : ${atributos}">
			<span th:value="${a.id}" th:text="${a.name}"></span>
			<span> - </span>
			<a th:href="@{'/atributos/editar/id/' + ${a.id}}">editar</a>
		</div>
	</div>
	<div>
		<p>
			<a th:href="@{/atributos/nuevo}">Crear nuevo atributo</a> - 
			<a th:href="@{/atributos/ordenar}">Ordenar atributos</a>
		</p>
	</div>

</body>
</html>