<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Seleccionar Atributos</title>
</head>
<body>

<h1>Seleccionar Atributos</h1>

	<form method="POST" th:object="${newatributoid}" id="atributoform">
	
		<div th:if="${#fields.hasErrors()}">
     	   <span class="validationError">
      	  Corrige los errores y reenvía.
     	   </span>
    	</div>
      	
      	<span class="validationError"
      	th:if="${#fields.hasErrors('name')}"
      	>Escoge un tipo correcto</span>
      
		<div class="grid">			
			<div class="define-group">
				<h3>Selecciona los atributos que corresponden a esta propuesta:</h3>
					<div th:each="t : ${attributes}">
						<input type="checkbox" name="atts" th:value="${t.id}" th:text="${t.name}"/>
					</div>
			</div>
		</div>

		<div>
			<p>
				<button>Ok</button>
			</p>
		</div>
		
		<div>
			<p>
				<a th:href="@{/attof/propid/{proposalId}}">Volver a la propuesta</a>
			</p>
		</div>
		
	</form>

</body>
</html>