<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Seleccionar Atributos</title>
</head>
<body>

<h1>Seleccionar Atributos</h1>

	<form method="POST" id="atributoform">
      
		<div class="grid">			
			<div class="define-group">
				<h3>Selecciona los atributos que corresponden a esta propuesta:</h3>
					<div th:each="t : ${attributes}">
						<input type="checkbox" name="atts" th:value="${t.getId()}"/>
						<label th:text="${t.getName()}"></label>
					</div>
			</div>
		</div>

		<div>
			<p>
				<button>Ok</button>
			</p>
		</div>
		
		<div>
			<p>
				<a th:href="@{/attof/propid/{proposalId}}">Volver a la propuesta</a>
			</p>
		</div>
		
	</form>

</body>
</html>