<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Nueva Linea en Propuesta: ' + propuesta.getNombre()}">Gull Project - Nueva Linea en Propuesta</title>
</head>
<body>

<h1>Nueva Linea en Propuesta</h1>

	<form method="POST" id="propuestaform" th:object="${linea}">
	
		<div th:if="${#fields.hasErrors()}">
     	   <span class="validationError">
      	  Corrige los errores y reenvía.
     	   </span>
    	</div>
    	
    	<span class="validationError"
      	th:if="${#fields.hasErrors('nombre')}"
      	th:errors="*{nombre}">Selecciona un nombre</span>
      
		<div class="grid">
			<div class="define-group" id="nombre">
				<h3>Nombre:</h3>
					<input name="nombre" type="text"
						th:field="*{nombre}"/>
			</div>
			<input name="id" type="hidden" value="*{id}">
			<input id="propuestaId" name="propuestaId" type="hidden" value="${propuestaId}">
		</div>

		<div>
			<p>
				<button>Ok</button>
			</p>
		</div>
		
		<div>
			<p>
				<a th:href="${'/lineas/allof/propid/' + propuestaId}">Volver</a>
			</p>
		</div>
		
	</form>

</body>
</html>