<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Nueva Solicitud de Propuesta</title>
</head>
<body>

<h1>Nueva Solicitud de Propuesta</h1>

	<form method="POST" th:action="${'/consultas/revisar/id/' + consultaId}" id="propuestaform" th:object="${wrapPropuestaAndSelectableAttributes}">
	
		<div th:if="${#fields.hasErrors()}">
     	   <span class="validationError">
      	  Corrige los errores y reenvía.
     	   </span>
    	</div>
    	
    	<span class="validationError"
      	th:if="${#fields.hasErrors('nombre')}"
      	th:errors="*{nombre}">Selecciona un nombre</span>
      
		<div class="grid">
			<div class="define-group" id="nombre">
				<h3>Nombre:</h3>
					<input name="nombre" type="text"
						th:field="*{nombre}"/>
			</div>
			<input type="hidden" th:field="*{forProposalId}">
			<input type="hidden" th:field="*{tipoPropuesta}">
			
			<table>
				<tr>
					<th>Seleccionado</th>
					<th>Atributos</th>
				</tr>
				<tr th:each="t, stat : *{attributes}">
					<td>
						<input type="checkbox" th:field="*{attributes[__${stat.index}__].selected}"/>
						<input type="hidden" th:field="*{attributes[__${stat.index}__].localIdentifier}"/>
						<input type="hidden" th:field="*{attributes[__${stat.index}__].id}"/>
						<input type="hidden" th:field="*{attributes[__${stat.index}__].name}"/>
						<input type="hidden" th:field="*{attributes[__${stat.index}__].tipo}"/>
					</td>
					<td><span th:text="${t.name}"></span></td>
				</tr>
			</table>
			
		</div>

		<div>
			<p>
				<button>Ok</button>
			</p>
		</div>
		
		<div>
			<p>
				<a th:href="${'/consultas/revisar/id/' + consultaId}">Volver</a>
			</p>
		</div>
		
	</form>

</body>
</html>