<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Asignar lineas de la oferta: ' + propuestaNuestra.getNombre()}">Gull Project - Asignar lineas de la oferta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Asignar lineas de la oferta: ' + propuestaNuestra.getNombre()}">Asignar lineas de la oferta</h1>

	<div>
		<p>
			<a th:href="${'/lineas/allof/ofertaid/' + propuestaNuestra.id}">Volver</a>
		</p>
	</div>
	
	<form method="POST" th:object="${multipleLineaWithAttListDto}" id="val-form-checkable">
		<div><button id="submit-button-checkable">Guardar</button></div>
		<br>
		<div th:if="${#fields.hasErrors()}">
     	   <span class="validationError">
      	  Corrige los errores y reenvía.
     	   </span>
    	</div>
		<div>
			<table>
				<tr>
					<th class="noborders texto-izquierda" th:colspan="${propuestaCliente.getAttributeColumns().size() + 1}"><button id="limpiar-filtros">Limpiar filtros</button></th>
					<!-- <th th:each="i, istat : ${#numbers.sequence(0, propuestaCliente.getAttributeColumns().size()-1)}" class="noborders"></th> -->
					<th:block th:each="pvp, pvpstat : ${propuestaNuestra.getPvps()}">
					<th class="noborders" rowspan="0"></th>
					<th th:if="${proposalCostMapperToPVp.findBy(pvp.id).size() > 1}" th:colspan="${proposalCostMapperToPVp.findBy(pvp.id).size() - 1}" class="noborders"></th>
					<th class="noborders"><button class="bulk-fill">Rellenar</button></th>
					<th class="noborders"><input type ="text" class="width100" th:id="${'margin-index' + pvpstat.index}"></th>
					<th class="noborders" colspan="2"><input type="text" class="width100" th:id="${'pvp-index' + pvpstat.index}"></th>
					</th:block>
					<th class="noborders" rowspan="0"></th>
				</tr>
				<tr>
					<th th:each="i, istat : ${#numbers.sequence(0, propuestaCliente.getAttributeColumns().size())}" class="filtro field nopadding" th:id="${'filter-index' + istat.index}"><input type="text" class="field-text width100"></th>
					<th:block th:each="pvp, pvpstat : ${propuestaNuestra.getPvps()}">
					<!-- <td rowspan="0"></td> -->
					<td th:colspan="${proposalCostMapperToPVp.findBy(pvp.id).size()}" class="texto-centro"><span>Costes</span></td>
					<td><span>Margen</span></td>
					<td><span>PVP</span></td>
					<td><input type="checkbox" th:class="${'mastercheck'}" th:id="${'check-index' + pvpstat.index}"></td>
					</th:block>
					<!-- <td rowspan="0"></td> -->
				</tr>
				<tr>
					<th>Nombre</th>
					<th th:each="t : ${propuestaCliente.getAttributeColumns()}"><span th:text="${t.getName()}"></span></th>
					<th:block th:each="pvp : ${propuestaNuestra.getPvps()}">
					<td th:each="cost : ${proposalCostMapperToPVp.findBy(pvp.id)}"><span th:text="${cost.name}"></span></td>
					<td><span>%</span></td>
					<td colspan="2"><span th:text="${pvp.name}"></span></td>
					</th:block>
				</tr>
				<tr th:each="a, astat : ${lineasCliente}" class="line-container">
					<td><span th:text="${a.nombre}" th:class="${'filter-index0'}"></span></td>
					<td th:each="t, tstat : ${propuestaCliente.getAttributeColumns()}"><span th:text="${a.operations().getValueByAttId(t.getId())}" th:class="${'filter-index' + (tstat.index + 1)}"></span></td>
					<th:block th:each="pvp, pvpstat : ${propuestaNuestra.getPvps()}">
					<td th:each="cost : ${proposalCostMapperToPVp.findBy(pvp.id)}"><span th:text="${lineCostByCostIdMapper.getByDupla(a.getId(), cost.id) > 0 ? lineCostByCostIdMapper.getByDupla(a.getId(), cost.id) : ''}" th:class="${'cost-margin-input-field-' + astat.index + '-' + pvpstat.index}"></span></td>
					<td class="field nopadding">
						<input type="text" th:text="${marginMapper.getByDupla(a.id, pvp.id) > 0 ? marginMapper.getByDupla(a.id, pvp.id) : ''}" th:id="${'margin-input-field-' + astat.index + '-' + pvpstat.index}" th:class="${'field-text is-double-checkable width100 margin-input-field margin-index' + pvpstat.index}">
					</td>
					<td class="field nopadding">
						<input type="text" th:text="${pvpMapper.getByDupla(a.id, pvp.id) > 0 ? pvpMapper.getByDupla(a.id, pvp.id) : ''}" th:class="${'field-text is-double-checkable width100 pvp-input-field pvp-index' + pvpstat.index + ' pvp-margin-input-field-' + astat.index + '-' + pvpstat.index}">
					</td>
					<td><input type="checkbox" th:class="${'slavecheck check-index' + pvpstat.index}"></td>
					</th:block>
				</tr>
			</table>
		</div>
	</form>
	
	<script type="text/javascript" th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/tableEditable.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/forceValidation.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/multiCheckBox.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/filterByColumn.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/bulkFill.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/preventKeySubmit.js}"></script>

</body>
</html>