<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Asignar lineas de la oferta: ' + propuestaNuestra.getNombre()}">Gull Project - Asignar lineas de la oferta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Asignar lineas de la oferta: ' + propuestaNuestra.getNombre()}">Asignar lineas de la oferta</h1>

	<div>
		<p>
			<a th:href="${'/lineas/allof/ofertaid/' + propuestaNuestra.id}">Volver</a>
		</p>
	</div>
	
	<table>
		<tr>
			<td><span>Nombre</span></td>
			<td th:each="att, attstat : ${propuestaNuestra.attributeColumns}"><span th:text="${att.name}"></span></td>
			<td th:each="pvp, pvpstat : ${pvps}"><span th:text="${pvp.name}"></span></td>
			<td th:each="sum, sumstat : ${sums}"><span th:text="${sum.name}" th:class="${#strings.listJoin(sum.pvperIds, ' ')}"></span></td>
		</tr>
		<tr th:each="lc, lcstat : ${lineasCliente}" class="linea-cliente" th:id="${lc.id}">
			<td><span th:text="${lc.nombre}"></span></td>
			<td th:each="att, attstat : ${propuestaNuestra.attributeColumns}" class="attribute-td">
				<input th:each="pvp, pvpstat : ${pvps}" type="hidden" th:class="${lc.id + ' ' + pvp.id + ' ' + att.id + ' field-concatenable'}" th:value="${attMapper.of(lc.id, pvp.id, att.id)}">
				<span th:class="${lc.id + ' ' + att.id + ' concatenation-field'}"></span>
			</td>
			<td th:each="pvp, pvpstat : ${pvps}"><span th:class="${pvp.id + ' pvp-value-field'}" th:text="${pvpMapper.findBy(lc.id, pvp.id).pvp}"></span></td>
			<td th:each="sum, sumstat : ${sums}"><span th:class="${sum.id + ' sum-value-field'}" th:text="${sumMapper.findBy(lc.id, sum.id)}"></span></td>
		</tr>
	</table>
	
	<script type="text/javascript" th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
	

</body>
</html>