<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Asignar lineas de la oferta: ' + propuestaNuestra.getNombre()}">Gull Project - Asignar lineas de la oferta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Asignar lineas de la oferta: ' + propuestaNuestra.getNombre()}">Asignar lineas de la oferta</h1>

	<div>
		<p>
			<a th:href="${'/lineas/allof/ofertaid/' + propuestaNuestra.id}">Volver</a>
		</p>
	</div>
	
	<table>
		<tr>
			<td><span>Nombre</span></td>
			<td th:each="att, attstat : ${propuestaNuestra.attributeColumns}"><span th:text="${att.name}"></span></td>
		</tr>
		<tr th:each="lc, lcstat : ${lineasCliente}">
			<td><span th:text="${lc.nombre}"></span></td>
			<td><span></span></td>
		</tr>
	</table>
	
	<script type="text/javascript" th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
	

</body>
</html>