<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Exportar lineas de la oferta: ' + propuestaNuestra.getNombre()}">Gull Project - Exportar lineas de la oferta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Exportar lineas de la oferta: ' + propuestaNuestra.getNombre()}">Exportar lineas de la oferta</h1>

	<div>
		<p>
			<a th:href="${'/lineas/allof/ofertaid/' + propuestaNuestra.id}">Volver</a>
		</p>
	</div>
	
	<div>
		<p>
			<button id="portapapeles-button">Copiar al portapapeles incluyendo cabeceras</button>
		</p>
	</div>
	
	<table>
		<tr>
			<td rowspan="2"><span data-exportablealways="true">Nombre</span></td>
			<td th:each="att, attstat : ${propuestaNuestra.attributeColumns}" rowspan="2"><span th:text="${att.name}" data-exportablealways="true"></span></td>
			<td rowspan="2"><span data-exportablealways="true">Cantidad</span></td>
			<td th:each="pvp, pvpstat : ${pvps}" th:if="${pvp.idCostes.size() > 0}" colspan="2"><input type="checkbox" th:id="${pvp.id}" class="pvpcheckbox" checked><span th:text="${pvp.name}" data-exportablemaybe="true"></span></td>
			<td th:each="sum, sumstat : ${sums}" th:if="${sum.pvperIds.size() > 0}" colspan="2"><input type="checkbox" th:id="${sum.id}" class="sumcheckbox" checked><span th:text="${sum.name}" th:class="${#strings.listJoin(sum.pvperIds, ' ')}" data-exportablemaybe="true"></span></td>
		</tr>
		<tr>
			
			<th:block th:each="pvp, pvpstat : ${pvps}" th:if="${pvp.idCostes.size() > 0}">
			<td><span>Ud.</span></td>
			<td><span>Tot.</span></td>
			</th:block>
			<th:block th:each="sum, sumstat : ${sums}" th:if="${sum.pvperIds.size() > 0}">
			<td><span>Ud.</span></td>
			<td><span>Tot.</span></td>
			</th:block>
		</tr>
		<tr th:each="lc, lcstat : ${lineasCliente}" class="linea-cliente" th:id="${lc.id}">
			<td><span th:text="${lc.nombre}" th:class="${lc.id}" data-exportable="true"></span></td>
			<td th:each="att, attstat : ${propuestaNuestra.attributeColumns}" class="attribute-td" th:id="${att.id}">
				<input th:each="pvp, pvpstat : ${pvps}" type="hidden" th:class="${lc.id + ' ' + pvp.id + ' ' + att.id + ' field-concatenable'}" th:value="${attMapper.of(lc.id, pvp.id, att.id)}">
				<span th:class="${lc.id + ' ' + att.id + ' concatenation-field'}" data-exportable="true"></span>
			</td>
			<td><span th:text="${lc.qty == null ? 1 : lc.qty}" th:class="${lc.id}" data-exportable="true"></span></td>
			<th:block th:each="pvp, pvpstat : ${pvps}" th:if="${pvp.idCostes.size() > 0}">
			<td><span th:class="${pvp.id + ' ' + lc.id + ' pvp-value-field'}" th:text="${#numbers.formatDecimal(pvpMapper.findBy(lc.id, pvp.id).pvp, 0, 2)}" data-exportablecond="true" th:data-masterid="${pvp.id}"></span></td>
			<td><span th:class="${pvp.id + ' ' + lc.id + ' pvp-value-field'}" data-exportablecond="true" th:data-masterid="${pvp.id}" th:text="${lc.qty == null ? #numbers.formatDecimal(pvpMapper.findBy(lc.id, pvp.id).pvp, 0, 2) : #numbers.formatDecimal(lc.qty * pvpMapper.findBy(lc.id, pvp.id).pvp, 0, 2)}"></span></td>
			</th:block>
			<th:block th:each="sum, sumstat : ${sums}" th:if="${sum.pvperIds.size() > 0}">
			<td><span th:class="${sum.id + ' ' + lc.id + ' sum-value-field'}" th:text="${#numbers.formatDecimal(sumMapper.findBy(lc.id, sum.id), 0, 2)}" data-exportablecond="true" th:data-masterid="${sum.id}"></span></td>
			<td><span th:class="${sum.id + ' ' + lc.id + ' sum-value-field'}" data-exportablecond="true" th:data-masterid="${sum.id}" th:text="${lc.qty == null ? #numbers.formatDecimal(sumMapper.findBy(lc.id, sum.id), 0, 2) : #numbers.formatDecimal(lc.qty * sumMapper.findBy(lc.id, sum.id), 0, 2)}"></span></td>
			</th:block>
		</tr>
	</table>
	
	<div id="notification" style="display: none;">
		<span class="dismiss"><a title="cerrar notificacion">x</a></span>
	</div>
	
	<script type="text/javascript" th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/offerBuilder.js}"></script>

</body>
</html>