<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Nuevo pvp combinado de la propuesta: ' + propuesta.getNombre()}">Gull Project - Nuevo pvp combinado de la propuesta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Nuevo pvp combinado de la propuesta: ' + propuesta.getNombre()}">Nuevo pvp combinado de la propuesta</h1>

	<div>
		<p>
			<a th:href="${'/consultas/pvpsumsof/propid/' + propuesta.id}">Volver</a>
		</p>
	</div>
	
	<form method="POST" th:object="${pvperSum}" id="val-form">
	
		<span class="validationError margentb"
      	th:if="${#fields.hasErrors('name')}"
      	th:errors="*{name}">Selecciona un nombre</span>
		<div>
			<span>Nombre:</span>
		</div>
		<div>
			<input type="text" th:field="*{name}"/>
			<input type="hidden" th:field="*{id}"/>
		</div>
		
		<div class="margentb">
		<span class="validationError margentb"
      	th:if="${#fields.hasErrors('pvperIds')}"
      	th:errors="*{pvperIds}">Selecciona al menos un pvp</span>
      	</div>
		<div class="margentb">
			<span>El cual contempla estos pvps:</span>
		</div>
		<th:block th:each="pvp : ${pvps}">
		<div class="margentb">
			<label th:for="${#ids.next('pvperIds')}" th:text="${pvp.name}"></label>
			<input type="checkbox" th:field="*{pvperIds}" th:value="${pvp.id}">
		</div>
		</th:block>
		
		<div class="margentb">
			<div><button id="submit-button">Guardar</button></div>
		</div>
	
	</form>	
	
</body>
</html>