<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Nuevo pvp combinado de la propuesta: ' + propuesta.getNombre()}">Gull Project - Nuevo pvp combinado de la propuesta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Nuevo pvp combinado de la propuesta: ' + propuesta.getNombre()}">Nuevo pvp combinado de la propuesta</h1>

	<div>
		<p>
			<a th:href="${'/consultas/pvpsumsof/propid/' + propuesta.id}">Volver</a>
		</p>
	</div>
	
		<div class="margentb">
			<span>Con nombre:</span>
		</div>
		<div>
			<span th:text="${pvperSum.name}"></span>
		</div>
		
		<div class="margentb">
			<span>Contempla los costes:</span>
		</div>
		<div th:each="cid : ${pvperSum.pvperIds}">
			<span th:text="${mapa.get(cid).name}"></span>
		</div>
	
</body>
</html>