<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Asignar lineas de la oferta: ' + propuestaNuestra.getNombre()}">Gull Project - Asignar lineas de la oferta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Asignar lineas de la oferta: ' + propuestaNuestra.getNombre()}">Asignar lineas de la oferta</h1>

	<div>
		<p>
			<a th:href="${'/lineas/allof/ofertaid/' + propuestaNuestra.id}">Volver</a>
		</p>
	</div>
	
	<div>
		<p>
			<span>Guardando...</span>
		</p>
	</div>
	
	<div>
		<table>
			<tr>
				<th th:each="at : ${atributos}"><span th:text="${at.name}"></span></th>
				<th><span>Margen</span></th>
				<th><span>PVP</span></th>
			</tr>
			<tr th:each="li : ${lineas}">
				<td th:each="at, atstat : ${atributos}"><span th:text="${li.getCampos().get(atstat.index).getDatosText()}"></span></td>
				<td><span th:text="${li.pvp.margen}"></span></td>
				<td><span th:text="${li.pvp.pvp}"></span></td>
			</tr>
		</table>
	</div>

</body>
</html>