<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Atributo Guardado</title>
</head>
<body>

<h1>Atributo Guardado</h1>

	<div>
		<span class="success" th:if="${atributos != null && propuesta != null}">Los siguientes atributos...</span>
		<span class="failure" th:unless="${atributos != null && propuesta != null}">Algo no ha ido bien...</span>
	</div>

	<div th:if="${atributos != null && propuesta != null}">
		<div class="grid" th:each="t : ${attributes}">
			<span th:text="${t.name}"></span>
		</div>
		
		<div><span>Constituyen ahora la propuesta </span> <span th:text="propuesta.getNombre()"></span></div>
		

		<div>
			<p>
				<a th:href="${'/consultas/attof/propid/' + propuesta.getId()}">Volver a la propuesta</a>
			</p>
		</div>
	</div>

</body>
</html>