<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Nueva Consulta</title>
</head>
<body>

<h1>Nueva Consulta</h1>

	<div>
		<span class="success"> Consulta Guardada Como... </span>
	</div>

	<div class="grid" th:object="${consulta}">
		<div class="define-group" id="nombre">
			<h3>Nombre:</h3>
			<input name="nombre" type="text" th:field="*{nombre}" />
		</div>

		<div class="define-group" id="status">
			<h3>Estado:</h3>
			<input name="status" type="text" th:field="*{status}" />
		</div>
	</div>

	<div>
		<p>
			<a th:href="@{/consultas/all}">Ver todas las consultas</a>
		</p>
	</div>

</body>
</html>