<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Linea Guardada</title>
</head>
<body>

	<div>
		<span class="success" th:if="${lineas != null && propuesta != null}">Guardando...</span>
		<span class="failure" th:unless="${lineas != null && propuesta != null}">Algo no ha ido bien...</span>
	</div>

	<div th:if="${lineas != null && propuesta != null}">
		<div>
			<p>
				<a th:href="${'/lineas/allof/propid/' + propuesta.getId()}">Volver a la propuesta</a>
			</p>
		</div>
		<table class="grid">
			<tr th:each="l, stat : ${lineas}" class="define-group">
				<td th:text="${l.nombre}">Nombre</td>
				<td th:each="c : ${l.campos}" th:text="${c.getDatos()}"></td>
				<th:block th:if="${propuesta.tipoPropuesta.toString() == 'PROVEEDOR'}">
				<td th:each="coste : ${l.costesProveedor}" th:text="${coste.getValue()}"></td>
				</th:block>
			</tr>
		</table>

		<div class="grid" th:object="${propuesta}">
			<div class="define-group" id="nombrepropuesta">
				<h3>En la propuesta...</h3>
				<span th:text="*{nombre}"> ... </span>
			</div>
		</div>
	</div>

</body>
</html>