<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Renombrar lineas de la propuesta: ' + consulta.getPropuestaById(propuestaId).getNombre()}">Gull Project - Renombrar lineas de la propuesta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Renombrar lineas de la propuesta: ' + consulta.getPropuestaById(propuestaId).getNombre()}">Renombrar lineas de la propuesta</h1>

	<div>
		<p>
			<a th:href="${'/lineas/allof/propid/' + propuestaId}">Volver</a>
		</p>
	</div>
	
	<div>
		<table>
			<thead>
				<tr id="1">
					<th>Nombre</th>
					<th th:each="t : ${consulta.getPropuestaById(propuestaId).getAttributeColumns()}">
						<span th:text="${t.getName()}"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a, ystat : ${stringListOfListsWrapper.stringListWrapper}" th:id="${ystat.index + 2}">
					<td>
						<span th:text="${a.name}"></span>
					</td>
					<td th:each="t ,ttat : ${consulta.getPropuestaById(propuestaId).getAttributeColumns()}">
						<span th:text="${a.get(__${ttat.index}__)}"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>