<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Lineas de la propuesta: ' + consulta.operations().getPropuestaById(propuestaId).getNombre()}">Gull Project - Lineas de la propuesta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Lineas de la propuesta: ' + consulta.operations().getPropuestaById(propuestaId).getNombre()}">Lineas de la propuesta</h1>

	<div>
		<p>
			<a th:href="${'/lineas/allof/propid/' + propuestaId}">Volver</a>
		</p>
	</div>
	
	<div>
		<p>Escoge una columna.</p>
	</div>
	
	<div>
		<table>
			<tr>
				<th>Nombre</th>
				<th th:each="t : ${consulta.operations().getPropuestaById(propuestaId).getAttributeColumns()}">
					<a th:text="${t.getName()}" th:href="@{'/lineas/allof/propid/' + ${propuestaId} + '/remap/' + ${t.localIdentifier}}"></a>
				</th>
				<th:block th:if="${consulta.operations().getPropuestaById(propuestaId).tipoPropuesta.toString() == 'PROVEEDOR'}">
				<th th:each="coste : ${consulta.operations().getPropuestaById(propuestaId).getCostes()}">
					<a th:text="${coste.name}" th:href="@{'/lineas/allof/propid/' + ${propuestaId} + '/remapcost/' + ${coste.id}}"></a>
				</th>
				</th:block>
			</tr>
			<tr th:each="a : ${lineas}">
				<td th:text="${a.nombre}"></td>
				<td th:each="t : ${consulta.operations().getPropuestaById(propuestaId).getAttributeColumns()}"><span th:text="${a.operations().getValueByAttId(t.getId())}"></span></td>
				<th:block th:if="${consulta.operations().getPropuestaById(propuestaId).tipoPropuesta.toString() == 'PROVEEDOR'}">
				<td th:each="coste : ${consulta.operations().getPropuestaById(propuestaId).getCostes()}"><span th:text="${a.operations().getCosteByCosteId(coste.getId()).value}"></span></td>
				</th:block>
			</tr>
		</table>
	</div>

</body>
</html>