<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Remapear Campo</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1>Remapear Campo</h1>

	<div>
		<p>
			<a th:href="${'/lineas/allof/propid/' + propuestaId}">Volver</a>
		</p>
	</div>
	
	<form method="POST" th:object="${costRemappersWrapper}" id="val-form">
		<div>
			<p>
				<button id="submit-button">Guardar</button>
			</p>
		</div>
		<div>
			<table>
				<tr>
					<th>Antes</th>
					<th> => </th>
					<th>Después</th>
				</tr>
				<tr th:each="a, astat : *{remappers}">
					<td th:text="${a.before}"></td>
					<td> => </td>
					<td class="field" th:classappend="${#fields.hasErrors('*{remappers[__${astat.index}__].after}') ? 'error' : '' }">
						<span class="field-text is-double" th:text="${a.after}" contenteditable="true"></span>
						<input type="hidden" th:field="*{remappers[__${astat.index}__].after}" class="field-input"/>
						<input type="hidden" th:field="*{remappers[__${astat.index}__].before}"/>
						<input type="hidden" th:field="*{remappers[__${astat.index}__].costeProveedorId}"/>
					</td>
				</tr>
			</table>
		</div>
	</form>
	
	<script type="text/javascript" th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/tableEditable.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/forceValidation.js}"></script>

</body>
</html>