<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Renombrar lineas de la propuesta: ' + consulta.operations().getPropuestaById(propuestaId).getNombre()}">Gull Project - Renombrar lineas de la propuesta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Renombrar lineas de la propuesta: ' + consulta.operations().getPropuestaById(propuestaId).getNombre()}">Renombrar lineas de la propuesta</h1>

	<div>
		<p>
			<a th:href="${'/lineas/allof/propid/' + propuestaId}">Volver</a>
		</p>
	</div>

	<form method="POST" th:object="${stringListOfListsWrapper}">
		<div>
			<div><button>Guardar</button></div>
			<div>
			
			<div th:if="${#fields.hasErrors()}">
     	   		<span class="validationError">
      	  			Corrige los errores y reenvía.<br/>Estas filas necesitan un nombre
     	   		</span>
     	   	</div>
				<table>
					<thead>
						<tr id="fila-nombre">
							<th></th>
							<th th:each="n, ntat : *{strings}" th:id="'name' + ${ntat.index}" class="header" th:classappend="${#fields.hasErrors('*{name[__${ntat.index}__]}') ? 'error' : '' }">
								<select th:field="*{name[__${ntat.index}__]}" class="name-selector">
									<option th:value="''"></option>
									<option th:each="x, row : *{strings}" th:value="${row.index + 1}" th:text="${row.index + 1}" class="mono-name"></option>
									<th:block th:if="${consulta.operations().getPropuestaById(propuestaId).tipoPropuesta.toString() == 'PROVEEDOR'}">
									<option th:each="coste, costeStat : ${consulta.operations().getPropuestaById(propuestaId).getCostes()}" th:value="${stringListOfListsWrapper.strings.size() + costeStat.index + 1}" th:text="${stringListOfListsWrapper.strings.size() + costeStat.index + 1}" class="mono-name"></option>
									</th:block>
								</select>
								<input type="hidden" th:field="*{strings[__${ntat.index}__]}"/>
							</th>
							<th:block th:if="${consulta.operations().getPropuestaById(propuestaId).tipoPropuesta.toString() == 'PROVEEDOR'}">
							<th th:each="n, ntat : ${consulta.operations().getPropuestaById(propuestaId).getCostes()}" th:id="'name' + ${ntat.index + stringListOfListsWrapper.strings.size()}" class="header" th:classappend="${#fields.hasErrors('*{name[__${ntat.index + stringListOfListsWrapper.strings.size()}__]}') ? 'error' : '' }">
								<select th:field="*{name[__${ntat.index}__]}" class="name-selector">
									<option th:value="''"></option>
									<option th:each="x, row : *{strings}" th:value="${row.index + 1}" th:text="${row.index + 1}" class="mono-name"></option>
									<option th:each="coste, costeStat : ${consulta.operations().getPropuestaById(propuestaId).getCostes()}" th:value="${stringListOfListsWrapper.strings.size() + costeStat.index + 1}" th:text="${stringListOfListsWrapper.strings.size() + costeStat.index + 1}" class="mono-name"></option>
								</select>
								<input type="hidden" th:field="*{strings[__${ntat.index}__]}"/>
							</th>
							</th:block>
						</tr>
						<tr id="1">
							<th>Nombre</th>
							<th th:each="t : ${consulta.operations().getPropuestaById(propuestaId).getAttributeColumns()}">
								<span th:text="${t.getName()}"></span>
							</th>
							<th:block th:if="${consulta.operations().getPropuestaById(propuestaId).tipoPropuesta.toString() == 'PROVEEDOR'}">
							<th th:each="coste : ${consulta.operations().getPropuestaById(propuestaId).getCostes()}">
								<span th:text="${coste.getName()}"></span>
							</th>
							</th:block>
						</tr>
					</thead>
					<tbody>
						<tr th:each="a, ystat : *{stringListWrapper}" th:id="${ystat.index + 2}" th:classappend="${#fields.hasErrors('*{stringListWrapper[__${ystat.index}__].name}') ? 'error' : '' }">
							<td>
								<span th:text="${a.name}"></span>
								<input type="hidden" th:field="*{stringListWrapper[__${ystat.index}__].id}" class="linea-id"/>
								<input type="hidden" th:field="*{stringListWrapper[__${ystat.index}__].name}"/>
							</td>
							<td th:each="t ,ttat : ${consulta.operations().getPropuestaById(propuestaId).getAttributeColumns()}">
								<span th:text="${a.get(__${ttat.index}__)}"></span>
								<input type="hidden" th:field="*{stringListWrapper[__${ystat.index}__].string[__${ttat.index}__]}"/>
							</td>
							<th:block th:if="${consulta.operations().getPropuestaById(propuestaId).tipoPropuesta.toString() == 'PROVEEDOR'}">
							<td th:each="coste, costeStat : ${consulta.operations().getPropuestaById(propuestaId).getCostes()}">
								<span th:text="${a.get(__${costeStat.index + consulta.operations().getPropuestaById(propuestaId).getAttributeColumns().size()}__)}"></span>
								<input type="hidden" th:field="*{stringListWrapper[__${ystat.index}__].string[__${costeStat.index + consulta.operations().getPropuestaById(propuestaId).getAttributeColumns().size()}__]}"/>
							</td>
							</th:block>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>

	<script type="text/javascript" th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/monoSelect.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/tableEditable.js}"></script>

</body>
</html>