<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Revisar Consulta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1>Revisar Consulta</h1>

	<div>
		<p>
			<a th:href="@{/consultas/nuevo}">Crear nueva consulta</a> - <a th:href="@{/consultas/all}">Volver a todas las consultas</a>
		</p>
	</div>
	
	<div id="consultas-spreadsheet"></div>
	
	<div>
		<table>
			<tr>
				<th>Nombre</th>
				<th>Estado</th>
				<th>Creado</th>
				<!-- <th>Editado</th> -->
			</tr>
			<tr>
				<td th:text="${consulta.nombre}"></td>
				<td th:text="${consulta.status}"></td>
				<td th:text="${consulta.createdTime} ? ${#dates.format(new java.util.Date(consulta.createdTime), 'dd/MM/yyyy - HH:mm')} : '-'"></td>
				<!-- <td th:text="${consulta.editedTime} ? ${#dates.format(new java.util.Date(consulta.editedTime), 'dd/MM/yyyy - HH:mm')} : '-'"></td> -->
				<td><a th:href="${'/consultas/delete/id/' + consulta.id}">Borrar esta consulta</a></td>
			</tr>
		</table>
		
		<div><br/><br/><a th:if="${#lists.size(consulta.propuestas) == 0}" th:href="${'/consultas/revisar/id/' + consulta.id + '/addpropuesta'}">Añadir una solicitud de propuesta del cliente</a></div>
	
		<table>
			<tr>
				<th>Nombre Propuesta</th>
				<th>Lineas</th>
				<th>Atributos</th>
			</tr>
			<tr th:each="a : ${consulta.propuestas}">
				<td th:text="${a.nombre}"></td>
				<td><a th:href="${'/lineas/allof/propid/' + a.id}"><span th:text="${a.lineaIds.size}">revisar lineas</span></a></td>
				<td><a th:href="${'/consultas/attof/propid/' + a.id}"><span th:text="${a.attributeColumns.size}">revisar atributos</span></a></td>
				<td><a th:href="${'/consultas/delete/id/' + consulta.id + '/propuesta/' + a.id}">Borrar esta propuesta</a></td>
			</tr>
		</table>
	</div>

</body>
</html>