<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Editar Linea: ' + lineaWithAttListDto.linea.getNombre()}">Gull Project - Editar Linea</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1>Editar Linea</h1>

	<form method="POST" th:object="${lineaWithAttListDto}">
	
		<div th:if="${#fields.hasErrors()}">
     	   <span class="validationError">
      	  Corrige los errores y reenvía.
     	   </span>
    	</div>
    	
		<div class="grid">
			
			<table>
				<tr>
					<td><span>Nombre:</span></td>
					<td>
						<input type="text" th:field="*{linea.nombre}"/>
						<span class="validationError"
      							th:if="${#fields.hasErrors('${lineaWithAttListDto.linea.nombre}')}"
      							th:errors="*{linea.nombre}">Selecciona un nombre</span>
      				</td>
				</tr>
				<th:block th:if="${propuesta.tipoPropuesta.toString() == 'CLIENTE'}">
				<tr>
					<td><span>Qty:</span></td>
					<td>
						<input type="number" min="1" step="1" th:field="*{linea.qty}"/>
						<span class="validationError"
      							th:if="${#fields.hasErrors('${lineaWithAttListDto.linea.qty}')}"
      							th:errors="*{linea.qty}">Selecciona una cantidad</span>
					</td>
				</tr>
				</th:block>
				<tr class="texto-centro"><td colspan="2">ATRIBUTOS</td></tr>
				<tr class="atribute-group" th:each="t, stat : *{attributes}">
					<td>
						<span th:text="${t.name}">Atributo:</span>
					</td>
					<td>
						<input type="text" th:field="*{attributes[__${stat.index}__].value}"/>
						<span class="validationError"
      							th:if="${#fields.hasErrors('*{attributes[__${stat.index}__].id}')}"
      							th:errors="*{attributes[__${stat.index}__].id}">El valor no es correcto para este atributo</span>
						<input type="hidden" th:field="*{attributes[__${stat.index}__].localIdentifier}"/>
						<input type="hidden" th:field="*{attributes[__${stat.index}__].id}"/>
						<input type="hidden" th:field="*{attributes[__${stat.index}__].name}"/>
						<input type="hidden" th:field="*{attributes[__${stat.index}__].tipo}"/>
					</td>
				</tr>
				<tr class="texto-centro" th:if="${propuesta.tipoPropuesta.toString() == 'PROVEEDOR' and lineaWithAttListDto.costesProveedor != null and lineaWithAttListDto.costesProveedor.size() > 0}"><td colspan="2">COSTES</td></tr>
				<tr th:each="coste, cstat : *{costesProveedor}">
					<td>
						<span th:text="${coste.name}"></span>
						<input type="hidden" th:field="*{costesProveedor[__${cstat.index}__].id}"/>
						<input type="hidden" th:field="*{costesProveedor[__${cstat.index}__].name}"/>
					</td>
					<td>
						<input type="number" step="any" th:field="*{costesProveedor[__${cstat.index}__].value}"/>
					</td>
				</tr>
			</table>
			<input type="hidden" th:value="*{linea.id}" th:field="*{linea.id}">
			<input type="hidden" th:value="*{linea.propuestaId}" th:field="*{linea.propuestaId}">
			<input type="hidden" th:value="*{linea.order}" th:field="*{linea.order}">
			<input type="hidden" th:field="*{linea.counterLineId}">
		</div>

		<div>
			<p>
				<button>Ok</button>
			</p>
		</div>
		
		<div>
			<p>
				<a th:href="${'/lineas/delete/id/' + lineaWithAttListDto.linea.id}">Borrar Linea</a> - <a th:href="${'/lineas/allof/propid/' + lineaWithAttListDto.linea.propuestaId}">Volver</a>
			</p>
		</div>
		
	</form>

</body>
</html>