<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Todas Las Consultas</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1>Todas Las Consultas</h1>

	<div>
		<p>
			<a th:href="@{/consultas/nuevo}">Crear nueva consulta</a> - <a th:href="@{/atributos/todos}">Atributos</a>
		</p>
	</div>
	
	<div id="consultas-spreadsheet"></div>
	
	<div>
		<table>
			<tr>
				<th>Nombre</th>
				<th>Estado</th>
				<th>Enlace</th>
			</tr>
			<tr th:each="a : ${consultas}">
				<td th:text="${a.nombre}"></td>
				<td th:text="${a.status}"></td>
				<td><a th:href="@{'/consultas/revisar/id/' + ${a.id}}">revisar</a></td>
			</tr>
		</table>
		<div th:each="a : ${consultas}">
			<span th:value="${a.id}" th:text="${a.nombre}"></span>
			<span> - </span>
			<span th:text="${a.status}"></span>
			<span> - </span>
			<a th:href="@{'/consultas/revisar/id/' + ${a.id}}">revisar</a>
		</div>
	</div>

</body>
</html>