<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Costes de la propuesta: ' + consulta.operations().getPropuestaById(propuestaId).getNombre()}">Gull Project - Costes de la propuesta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1 th:text="${'Costes de la propuesta: ' + consulta.operations().getPropuestaById(propuestaId).getNombre()}">Costes de la propuesta</h1>

	<div>
		<p>
			<a th:href="${'/consultas/costof/propid/' + consulta.operations().getPropuestaById(propuestaId).getId() + '/new'}">Añadir Coste</a> -
			<a th:href="${'/consultas/costof/propid/' + consulta.operations().getPropuestaById(propuestaId).getId() + '/order'}">Ordenar Costes</a> -  
			<a th:href="${'/consultas/costof/propid/' + consulta.operations().getPropuestaById(propuestaId).getId() + '/edit'}">Editar Costes</a> -  
			<a th:href="${'/consultas/revisar/id/' + consulta.id}">Volver</a>
		</p>
	</div>
	
	<div id="attributes-spreadsheet"></div>
	
	<div>
		<table>
			<tr>
				<th>Nombre</th>
			</tr>
			<tr th:each="a : ${costes}">
				<td><span th:text="${a.name}"></span></td>
			</tr>
		</table>
	</div>

</body>
</html>