<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gull Project - Todas Las Consultas</title>
<!-- CSS -->
<link th:href="@{/js/x-spreadsheet-master/dist/xspreadsheet.css}" rel="stylesheet"></link>
</head>
<body>

<h1>Todas Las Consultas</h1>

	<!-- <div>
		<div th:each="a : ${consultas}">
			<span th:value="${a.id}" th:text="${a.nombre}"></span>
			<span> - </span>
			<span th:text="${a.status}"></span>
			<span> - </span>
			<a th:href="@{'/consultas/revisar/id/' + ${a.id}}">revisar</a>
		</div>
	</div>
	<div>
		<p>
			<a th:href="@{/consultas/nuevo}">Crear nuevo atributo</a>
		</p>
	</div> -->
	
	<div id="consultas-spreadsheet"></div>


<!-- JS -->    
<script th:src="@{/js/x-spreadsheet-master/dist/xspreadsheet.js}" type="text/javascript"></script>
<!-- https://github.com/myliang/x-spreadsheet/ -->
<script th:src="@{/js/spreadSheetController.js?version=(${T(java.lang.System).currentTimeMillis()})}" type="text/javascript"></script>

</body>
</html>