<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${'Gull Project - Nuevas Lineas en Propuesta: ' + propuesta.getNombre()}">Gull Project - Nuevas Lineas en Propuesta</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1>Nuevas Lineas en Propuesta</h1>

	<div>
		<p>
			<a th:href="${'/lineas/allof/propid/' + propuestaId}">Volver</a>
		</p>
	</div>
	
	<div>
		<p>Lineas añadidas</p>
	</div>
    	
		<div class="grid">
			<table>
			<tr th:each="l : ${lineas}">
				<td th:text="${l.nombre}"></td>
				<td th:each="c : ${l.campos}" th:text="${c.getDatosText()}">
				</td>
			</tr>
		</table>
		</div>
	
	<script type="text/javascript" th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts/monoSelect.js}"></script>

</body>
</html>