table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th.noborders, td.noborders {
    border:0;
    border-collapse: separate;
}

th.nopadding, td.nopadding {
	padding: 0px;
}

input.noborders {
	border: none;
	border-color: transparent;
}

.sinwrap {
	white-space: pre;
	overflow: auto;
}

table .error {
	background-color: red;
	font: bold;
}

.texto-centro {
	text-align: center;
}

.texto-derecha {
	text-align: right;
}

.texto-izquierda {
	text-align: left;
}

.margentb {
	margin-top: 15px;
	margin-bottom: 15px;
}

.tachado {
	text-decoration: line-through;
}

.width100 {
    width: 100%;
    padding: 15px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;        
}
