table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
  padding: 15px;
}

.sinwrap {
	white-space: pre;
	overflow: auto;
}

table .error {
	background-color: red;
	font: bold;
}

.texto-centro {
	text-align: center;
}

.texto-derecha {
	text-align: right;
}
